@import "Styles/variables";

.alex-text {
	@include center;

	flex-direction: column;
	user-select: none;

	@media #{$mq-957} {
		margin-top: -6%;
	}

	&>h1 {
		@include center;

		font-weight: 900;
		color: #fff;
		margin: -5vw 0;
		letter-spacing: -2.5vw;
		font-size: 33vw;
		perspective: 1000px;
		transform: rotateX(-30deg) rotateY(30deg) rotateZ(10deg);
		text-shadow: 0 5px 10px rgba(#000, 0.5), 0 0 30px rgba(#000, 0.4);

		@media #{$mq-670} {
			margin: -3.5vw 0;
			letter-spacing: -1vw;
			font-size: 25vw;
			text-shadow: 0 7.5px 15px rgba(#000, 0.5), 0 0 40px rgba(#000, 0.4);
		}

		@media #{$mq-890} {
			margin: -3vw 0;
			letter-spacing: -1.5vw;
			font-size: 23vw;
			text-shadow: 0 7.5px 15px rgba(#000, 0.5), 0 0 40px rgba(#000, 0.4);
		}

		@media #{$mq-957} {
			letter-spacing: -1vw;
			font-size: min(23vw, 230px);
			text-shadow: 0 10px 20px rgba(#000, 0.5), 0 0 50px rgba(#000, 0.4);
		}

		&:first-of-type {
			margin-top: 0;
		}

		&:last-of-type {
			margin-bottom: 0;
		}

		&>.text-letter {
			opacity: 0;
			will-change: opacity, transform;
			transform: scale(0) rotateX(180deg) translateY(-150%);
		}
	}
}

.page.active .alex-text > #love > .text-letter {
	&:nth-of-type(1) {
		transition: opacity 1s 350ms, transform 1.75s 350ms cubic-bezier(0.34, 1.56, 0.64, 1);
	}

	&:nth-of-type(2) {
		transition: opacity 1s 300ms, transform 1.75s 300ms cubic-bezier(0.34, 1.56, 0.64, 1); 
	}

	&:nth-of-type(3) {
		transition: opacity 1s 250ms, transform 1.75s 250ms cubic-bezier(0.34, 1.56, 0.64, 1); 
	}

	&:nth-of-type(4) {
		transition: opacity 1s 200ms, transform 1.75s 200ms cubic-bezier(0.34, 1.56, 0.64, 1); 
	}
}

.page.active .alex-text > #alex > .text-letter {
	&:nth-of-type(1) {
		transition: opacity 1s 150ms, transform 1.75s 150ms cubic-bezier(0.34, 1.56, 0.64, 1); 
	}

	&:nth-of-type(2) {
		transition: opacity 1s 100ms, transform 1.75s 100ms cubic-bezier(0.34, 1.56, 0.64, 1); 
	}

	&:nth-of-type(3) {
		transition: opacity 1s 50ms, transform 1.75s 50ms cubic-bezier(0.34, 1.56, 0.64, 1); 
	}

	&:nth-of-type(4) {
		transition: opacity 1s 0ms, transform 1.75s 0ms cubic-bezier(0.34, 1.56, 0.64, 1); 
	}
}

.page.active .alex-text > h1 > .text-letter {
	opacity: 1;
	transform: scale(1) rotateX(0deg) translateY(0%);
}