@import "Styles/variables";

.screen-loader {
	height: 100vh;
	width: 100%;

	@include center;

	background: linear-gradient(to bottom, rgba(#000, 0), rgba(#000, 0.5)), url("Images/background-small.webp") no-repeat center;
	background-size: cover;
	transform: scaleX(-1);

	@media #{$mq-670} {
		background: linear-gradient(to bottom, rgba(#000, 0), rgba(#000, 0.5)), url("Images/background-large.webp") no-repeat center;
		background-size: cover;
	}
}